{
  "extends": [
    "plugin:vue/essential",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "vue/no-unused-vars": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}